.code-wrapper {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    font-family: monospace;
    font-size: 0.8rem;
    line-height: 1.5;
    background: linear-gradient(to top, #98dcfa 0%, #e1f5fe 5%) 0 0;
    background-size: 100% 17px;
    border-left: 4px solid #007bff;
    margin: 0 0 1rem;
}

.code {
    color: #5c656c;
    display: block;
    white-space: pre;
    overflow-x: auto;
    padding: 20px 0 10px;
}

.code-wrapper::before {
    content: "HTML";
    color: #007bff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 8px;
    background: rgba(0, 123, 255, 0.2);
    font-weight: bold;
    line-height: 1.35;
}

.text-muted {
    display: block;
    margin-bottom: 0.5rem;
    color: #6c757d;
    text-transform: lowercase;
    font-size: 13px;
}

.text-muted::first-letter {
    text-transform: uppercase;
}