*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #00000008;
    height: 100%;
}

body:has(nav-bar:not([direction="vertical"])){
    margin-top: 3rem;
}

body:has(nav-bar[direction="vertical"]){
    margin-left: max(20vw, 200px);
}

body:has(nav-bar[direction="vertical"]) app{
    overflow-x: hidden;
}
