:root {
    --zindex-dropdown:           1000;
    --zindex-fixed:              1010;
    --zindex-modal-backdrop:     1020;
    --zindex-modal:              1030;
    --zindex-popover:            1040;
    --zindex-tooltip:            1050;
    --zindex-loader:             1060;
    --zindex-alert:              1070;
    --zindex-sticky:             1080;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #00000008;
    height: 100%;
}

body:has(nav-bar:not([direction="vertical"])){
    margin-top: 3rem;
}

body:has(nav-bar[direction="vertical"]){
    margin-left: max(20vw, 200px);
}

body:has(nav-bar[direction="vertical"]) app{
    overflow-x: hidden;
}

.noscript{
    display: none;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 672px) {
    body:has(nav-bar:not([direction="vertical"])){
        margin-top: 5rem;
    }
}